<div class="container main_container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table class="table table-bordered" style="margin-top: 20px;">
				<thead style="background-color: #286090; color: #fff;">
					<tr>
						<th>Bill No.</th>
						<th>Patient Name</th>
						<th>Age</th>
						<th>Mobile Number</th>
						<th>OP No.</th>
						<th>Perticulars</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bill in billList">
						<th scope="row">{{bill.bill_no}}</th>
						<td>{{ bill.patient_name }}</td>
						<td>{{bill.patient_age }}</td>
						<td>{{bill.mobile_no }}</td>
						<td>{{bill.op_no }}</td>
						<td>{{bill.perticulars }}</td>

						<td class="text-center"><a ui-sref="billDetails({'id' :bill.id})"><i class="fa fa-pencil fa-lg"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-sm-12 text-center">
			<ul class="pagination">
				<li ng-click="paginationNumberCall(1)" class="cursorHand"><a>First</a></li>
				<li ng-click="paginationNumberCall(currentPage -1)" ng-if="currentPage >1" class="cursorHand"><a>Previous</a></li>
				<li class="active" ng-show="currentPage != numberOfPages" class="cursorHand"><a>{{currentPage}}</a></li>
				<li ng-click="paginationNumberCall(currentPage + 1)" ng-if="currentPage < numberOfPages" class="cursorHand"><a>Next</a></li>
				<li ng-class="currentPage == numberOfPages ? 'active' : ''" ng-click="paginationNumberCall(numberOfPages)" class="cursorHand"><a>Last</a></li>
			</ul>
		</div>
	</div> -->
</div>
