<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h4 class="text-center">Change Password</h4>
			<div class="login-panel">
				<div class="panel-body">
					<!-- <div class="login-logo"><a href="#">Transportex</a></div> -->
					<form ng-submit="changePassword()">
						<fieldset>
							<label>New Password</label>
							<div class="form-group">
								<input class="form-control" ng-model="password" placeholder="Password" name="password" type="password">
							</div>
							<label>Confirm Password</label>
							<div class="form-group">
								<input class="form-control" ng-model="confirm_password" placeholder="Confirm Password" name="password" type="password">
							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary">Change Password</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
