<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h4 class="text-center">Add Bill</h4>
			<form ng-submit="addBill()">
				<fieldset>
					<!-- <div class="login-logo"><a href="#">Transportex</a></div> -->
					<div class="row">
						<div class="col-sm-6">
							<label for="bill_no">Bill No.</label>
							<div class="form-group">
								<input type="text" name="bill_no" id="bill_no" class="form-control" ng-model="billDetails.bill_no" placeholder="Bill No." autofocus>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
						<div class="col-sm-12">
							<hr style="margin: 5px;">
						</div>
						<div class="col-sm-12">
							<label>Invoice Details</label>
						</div>
						<div class="col-sm-12">
							<label for="patient_name">Patient Name *</label>
							<div class="form-group">
								<input type="text" name="patient_name" id="patient_name" class="form-control" ng-model="billDetails.patient_name" placeholder="Patient Name" autofocus required>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="email">Email *</label>
							<div class="form-group">
								<input type="text" name="email" id="email" class="form-control" ng-model="billDetails.email" placeholder="Email" autofocus>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="op_no">OP No.</label>
							<div class="form-group">
								<input type="text" name="op_no" id="op_no" class="form-control" ng-model="billDetails.op_no" placeholder="First Name" autofocus>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="token">Token</label>
							<div class="form-group">
								<input type="text" name="token" id="token" class="form-control" ng-model="billDetails.token" placeholder="Token" autofocus>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="consultant">Consultant</label>
							<div class="form-group">
								<input class="form-control" ng-model="billDetails.consultant" placeholder="Consultant" name="consultant" type="text" id="consultant" value="">
							</div>
						</div>
						<div class="col-sm-6">
							<label for="particulars">Particulars</label>
							<div class="form-group">
<!-- 								<textarea rows="4" cols="24" ng-model="$billDetails.particulars" name="particulars" id="particulars"></textarea> -->
								<input class="form-control" ng-model="billDetails.particulars" placeholder="Particulars" name="particulars" type="text" id="particulars" value="">
							</div>
						</div>
						<div class="col-sm-6">
							<label>Date Of Birth</label>
							<div class="form-group">
								<input class="form-control" ng-model="billDetails.dob" placeholder="Age" name="dob" type="date" id="dob" value="">
							</div>
						</div>
						<div class="col-sm-6">
							<label>Mobile Number</label>
							<div class="form-group">
								<input class="form-control" ng-model="billDetails.mobile_no" placeholder="Mobile Number" name="mobile_no" type="text" id="mobile_no" value="">
							</div>
						</div>

						<div class="col-sm-6">
							<label>Amount</label>
							<div class="form-group">
								<input class="form-control" ng-model="billDetails.amount" placeholder="Amount" name="amount" type="number" id="amount" value="">
							</div>
						</div>

						<div class="col-sm-6">
							<label for="role" style ="font-weight:normal;">Payment Mode</label>
				                <select class="form-control" id="role" ng-model="billDetails.payment_type" style="border-radius:0px; height:40px;" ng-options="choice.id as choice.name for choice in choicesList.data">
				                </select>
						</div>

					</div>

					<div class="col-sm-12">
						<hr>
					</div>
					<div class="col-sm-12">
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
