<style>
	label{
		font-weight: 500;
	}
	.sectionTitle{
		font-weight: 700;
		font-size: 16px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h4 class="text-center">Customer Registration</h4>
			<form ng-submit="addCustomer()">
				<fieldset>
					<!-- <div class="login-logo"><a href="#">Transportex</a></div> -->
					<div class="row">
						<div class="col-sm-6">
							<label for="registration_no">Registration No.</label>
							<div class="form-group">
								<input type="text" name="registration_no" id="registration_no" class="form-control" ng-model="customerDetails.registration_no" placeholder="Registration No." autofocus>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
						<div class="col-sm-12">
							<hr style="margin: 5px;">
						</div>
						<div class="col-sm-12">
							<label class="sectionTitle">Customer Details</label>
						</div>
						<div class="col-sm-12">
							<label for="customer_name">Customer Name *</label>
							<div class="form-group">
								<input type="text" name="customer_name" id="customer_name" class="form-control" ng-model="customerDetails.customer_name" placeholder="Customer Name" autofocus required>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="email">Email *</label>
							<div class="form-group">
								<input type="text" name="email" id="email" class="form-control" ng-model="customerDetails.email" placeholder="Email" autofocus required>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="dob">Date Of Birth</label>
							<div class="form-group">
								<input type="text" name="dob" id="dob" class="form-control" ng-model="customerDetails.dob" placeholder="Date Of Birth" autofocus>
							</div>
						</div>
						<div class="col-sm-6">
							<label for="address">Address</label>
							<div class="form-group">
								<input class="form-control" ng-model="customerDetails.address" placeholder="Address" name="address" type="text" id="address" value="">
							</div>
						</div>

						<div class="col-sm-6">
							<label>Mobile Number</label>
							<div class="form-group">
								<input class="form-control" ng-model="customerDetails.mobile_no" placeholder="Mobile Number" name="mobile_no" type="text" id="mobile_no" value="">
							</div>
						</div>

						<div class="col-sm-6">
							<label for="prefered_time_to_call">Prefered Time to Call</label>
							<div class="form-group">
								<input type="time" name="prefered_time_to_call" id="prefered_time_to_call" class="form-control" ng-model="customerDetails.prefered_time_to_call" placeholder="Token" autofocus>
							</div>
						</div>

						<div class="col-sm-6">
							<label for="role" style ="font-weight:normal;">Profession: </label>
				                <select class="form-control" id="role" ng-model="customerDetails.profession" style="border-radius:0px; height:35px;" ng-options="choice.id as choice.name for choice in choicesList.data">
				                </select>
						</div>

						<div class="col-sm-6">
							<label for="role" style ="font-weight:normal;">Reason to visit us ? </label>
				                <select class="form-control" id="role" ng-model="customerDetails.reason_to_visit_us" style="border-radius:0px; height:35px;" ng-options="reason_to_visit_us.id as reason_to_visit_us.name for reason_to_visit_us in reasonToVisitUsList.data">
				                </select>
						</div>

						<div class="col-sm-6">
							<label>How did you know about us ?</label>
							<div class="form-group">
								<input class="form-control" ng-model="customerDetails.how_you_know" placeholder="How did you know about us ?" name="how_you_know" type="text" id="how_you_know" value="">
							</div>
						</div>

						<div class="col-sm-6">
							<label for="role" style ="font-weight:normal;">How do you take care of your skin daily?</label>
				                <select class="form-control" id="role" ng-model="customerDetails.skin_care" style="border-radius:0px; height:35px;" ng-options="skin_care.id as skin_care.name for skin_care in skinCareList.data">
				                </select>
						</div>

						<div class="col-sm-6">
							<label for="role" style ="font-weight:normal;">You usually visits parlour for?</label>
				                <select class="form-control" id="role" ng-model="customerDetails.parlour_reason" style="border-radius:0px; height:35px;" ng-options="parlour_reason.id as parlour_reason.name for parlour_reason in parlourReasonList.data">
				                </select>
						</div>

						<div class="col-sm-6">
							<label>Would you like to recieve updates from GNF? <input type="checkbox" ng-checked="all"></label>
							<div class="form-group">
							</div>
						</div>

						<div class="col-sm-12">
							<label class="sectionTitle">Customer Details</label>
						</div>




					</div>

					<div class="col-sm-12">
						<hr>
					</div>
					<div class="col-sm-12">
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
